* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Old Standard TT", serif;
}
.hero-img {
    background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.568)),
    url(./port.img/hero.webp);
  background-size: cover;
  background-position: center;
  height: 500px;
  object-fit: cover;
}
.hero-cont h1{
  text-align: center;
  padding-top: 11rem;
  color: #fff;
  /* font-size: 30px; */
  font-weight: bolder;
}
.hero-cont p {
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  font-size: 20px;
  font-weight: bold;
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
.hero-btn button {
  padding: 8px 20px;
  background-color: #fde500;
  margin: 5px;
  border: none;
  font-size: 15px;
  font-weight: bolder;
}
#blog-conc {
  background-color: black;
  height: 100%;
  padding-top: 2rem;
  width: 100%;
}
.blog-post {
  width: 60%;
  margin: auto;
  color: #fff;
}
.blog-post p { 
  color: #fff;
  padding-top: 2em;
  font-size: 19px;
}
.blog-post h1 {
  padding-top: 2em;
  text-decoration: underline;
  color: #fff;
}
.blog-post h3 {
  padding-top: 20px;
  font-size: 20px;
}


